<template>
    <div class="sq-card-pet-info">
        <div class="photo"><img :src="photoPath" :alt="petName" /></div>
        <div class="title">{{ petName }}</div>
        <div class="age">나이 : {{petAge}}살</div>
        <div class="birth">생일 : {{ petBirth }}</div>
        <div>가격 : {{ petPrice | currency }}원</div> <!-- 재가공(,원) -->

        <div v-if="petAge >= 10">상태 : 슬퍼요 늙었어..</div> <!-- if문과 else 문은 붙어있어야함 -->
        <div v-else>상태 : 쌩쌩해요</div>

        <div><nuxt-link :to="'/vp/products/' + id">자세히보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
          type: Number,
          required: true
        },
        photoPath: {
            type: String,
            required: true
        },
        petName: {
            type: String,
            required: true
        },
        petAge: {
            type: Number,
            required: true
        },
        petBirth: {
            type: String,
            required: true
        },
        petPrice: {
            type: String,
            required: false,
            default: 0
        }
    }
}
</script>
