<template>

</template>

<script>
export default {
    data() {
        return {
            champList: [
                {
                    champName: '팬더',
                    champText: '팬더는 귀여운데 1티어다',
                    champSkills: [
                        {
                            skillName: '대나무 먹기',
                            skillPhoto: 'images/fsdsda.jpg'
                        },
                        {
                            skillName: '대나무 창자 꼽기',
                            skillPhoto: 'images/fsdsda.jpg'
                        },
                        {
                            skillName: '대나무 뇌 찌르기',
                            skillPhoto: 'images/fsdsda.jpg'기
                        }
                    ]
                },
                {
                    champName: '오리너구리',
                    champText: '독발톱 무서워 쌔보이는데 안쌔다',
                    champSkills: [
                        {
                            skillName: '발톱 찌르',
                            skillPhoto: 'images/fsdsda.jpg'
                        },
                        {
                            skillName: '대나무 창자 꼽기',
                            skillPhoto: 'images/fsdsda.jpg'
                        },
                        {
                            skillName: '대나무 뇌 찌르기',
                            skillPhoto: 'images/fsdsda.jpg'
                        }
                    ]
                }
            ]
        }
    }
}
</script>
