<template>
    <div>
        <h1>내 반려동물들</h1>
        <section>
           <card-pet-info
               v-for="(item, index) in wolfs"
               v-bind:key="index"
               v-bind:id="item.id"
               v-bind:pet-birth="item.wolfBirth"
               v-bind:pet-age="item.wolfAge"
               v-bind:pet-name="item.wolfName"
               v-bind:photo-path="item.photoName"
               v-bind:pet-price="item.price"
           />
        </section>
    </div>
</template>

<script>
export default{
    data() {
        return {
            wolfs: [
                {
                    id: 5,
                    photoName: 'images/wolf_photo_1.jpg',
                    wolfName: '한대',
                    wolfAge: 1,
                    wolfBirth: "2022-12-1",
                    price: 200000
                },
                {
                    id: 6,
                    photoName: 'images/wolf_photo_2.jpg',
                    wolfName: '두대',
                    wolfAge: 2,
                    wolfBirth: "2022-12-1",
                    price: 1500000
                },
                {
                    id: 7,
                    photoName: 'images/wolf_photo_3.jpg',
                    wolfName: '세대',
                    wolfAge: 12,
                    wolfBirth: "2022-12-1",
                    price: 0
                },
                {
                    id: 8,
                    photoName: 'images/wolf_photo_4.jpg',
                    wolfName: '네대',
                    wolfAge: 14,
                    wolfBirth: "2022-12-1",
                    price: 500000
                },
                {
                    id: 10,
                    photoName: 'images/wolf_photo_5.jpg',
                    wolfName: '5대',
                    wolfAge: 7,
                    wolfBirth: "2022-12-1",
                    price: 600000
                }
            ]
        }
    }
}
</script>
