<template>
    <div>{{ddong}}</div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            ddong: params.ddong
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.ddong)
    },
    data(){
        return{
            ddong: null
        }
    }
}
</script>
